.btn-primary{
    color:grey;
    background-color: rgba(240, 248, 255, 0.815);
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
}

.rodada-nome{
    height: 80px;
    display: flex;
    align-items: flex-end;
}

.rodada-nome-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fa-angle-right {
    font-size: 25px;
    color: #c4c4c4;
    cursor: pointer;
}

.fa-angle-left {
    font-size: 25px;
    color: #c4c4c4;
    cursor: pointer;
}

.rodada-grupos{
    display: flex;
    flex-direction: column;
}

