.btn-primary{
    color:grey;
    background-color: rgba(240, 248, 255, 0.815);
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
}

.rodada-nome{
    
    display: flex;
    
    
    /* align-content: flex-end; */
    
}

.rodada-nome-title{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
}

.rodada-grupos{
    display: flex;
    flex-direction: column;
}