@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;

}

.tabelas-titulo {
    height: 80px;
    display: flex;
    align-items: flex-end;
}

.table {
    margin: 0;
}

.tabela-corpo {
    height: 206px;
}

.tabela-selecao {
    width: 254px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}